@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /******************************/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@500&display=swap');

/*  BASIC SETUP  */
/******************************/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	/* background-image: linear-gradient(to right top, #77ffb47a, #1990ff7e); */
	/* background-image: linear-gradient(
		to right,
		rgb(99, 255, 67),
		rgb(77, 255, 246)
	); */
	background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem;
}
header {
	height: 10rem;
	text-align: center;
}
header h1 {
	margin-top: 3rem;
	font-family: 'Roboto', sans-serif;
	font-size: 5rem;
	color: #426696;
}

header p {
	margin-top: 2rem;
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
	color: white;
}

.circle1,
.circle2 {
	background: white;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.3)
	);
	height: 20rem;
	width: 20rem;
	position: fixed;
	border-radius: 50%;
}

.circle1 {
	top: 5%;
	right: 15%;
}
.circle2 {
	bottom: 5%;
	left: 10%;
}
.container {
	display: flex;
	justify-content: space-evenly;

	min-height: 90vh;
	width: 70%;
	/* background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.363),
		rgba(255, 255, 255, 0.247)
	); */
	border-radius: 2rem;
	z-index: 2;
	backdrop-filter: blur(2rem);
	padding: 3rem;
}

.section__profile {
	width: 25%;
	height: 25vh;
	min-height: 500px;
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	background-color: rgba(248, 248, 248, 0.596);
	border-radius: 0.7rem;
	padding: 2rem;
	top: 5%;
}

.profile__data {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 50%;
	margin-bottom: 2rem;
	color: #426696;
}

.profile__data img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.profile__data h3 {
	font-size: 2.6rem;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.15rem;
}

.profile__data p {
	font-size: 2rem;
}

.profile__connection {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 40%;
}
.profile__connection--list {
	display: flex;
	justify-content: flex-start;
	font-size: 3rem;
	margin-left: 20%;
	color: #426696;
	/* transform: translate(-50%, 0); */
}

.profile__connection--list a {
	text-decoration: none;
	color: black;
	margin-left: 1rem;
	font-size: 1.7rem;
	margin-top: 0.5rem;
	color: #426696;
}

.section__projects {
	width: 70%;
	min-height: 100vh;
	position: relative;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.363),
		rgba(255, 255, 255, 0.247)
	);
	border-radius: 0.7rem;
	padding: 2rem;
	top: 10%;
}

.project__card {
	background-color: rgba(236, 236, 255, 0.548);
	border-radius: 0.7rem;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	overflow: hidden;
	box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.15);
}

.project__card--image img {
	width: 35rem;
	height: 20rem;
	margin-right: 2rem;
	border-radius: 0.5rem;
}
.project__card--details {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: #426696;
}
.project__card--details h3 {
	font-size: 2rem;
}

.project__card--details p {
	font-size: 1.6rem;
}

.project__card--links {
	display: flex;
	justify-content: flex-start;
}

.project__card--links a:not(:last-of-type) {
	margin-right: 2rem;
}

.btn {
	position: relative;
	display: block;
	font-size: 1rem;
	text-decoration: none;
	padding: 1rem 2rem;
	text-transform: uppercase;
	overflow: hidden;
	transition: 1s all ease;
	border-radius: 0.4rem;
}
.btn::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: all 0.6s ease;
}

.btn::before {
	width: 100%;
	height: 0%;
	transform: translate(-50%, -50%) rotate(45deg);
	color: black;
}
.btn:hover::before {
	height: 380%;
}

.btn:hover {
	color: black;
}

.btn--blue {
	color: #0e5aff;
	border: 2px solid #0e5aff;
}
.btn--blue::before {
	background: #0051ff;
}

.btn--black {
	color: #2b2a2b;
	border: 2px solid #2b2a2b;
}
.btn--black::before {
	background: #141414;
}
